.jumbotron {
  padding-top: 2rem;
  background-color: darkcyan;
  background-image: url(Jumbotron/AL4.jpg);
  background-size: cover;
}

#projects {
  background-color: darkcyan;
  justify-content: center;
}

footer {
  background-color: aquamarine;
}

link {
  display: none;
}
body {
  font-size: 100%;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  right: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
